<div class="row">
  <h1>My Dashboard</h1>
  <p class="lead">Manage your products here.</p>
</div>
<table class="table table-hover table-responsive table-bordered table-striped">
	<tr>
		<th class="center">Image</th>
		<th class="center">Name</th>
		<th class="center">Description</th>
		<th class="center">Price</th>
		<th class="center">Action</th>
	</tr>
	
	 <% @listings.each do |listing| %>
	 <tr>
	 	<td class="center"><%= image_tag listing.image.url(:thumb) %></td>
	 	<td class="center"><%= listing.name %></td>
	 	<td class="center"><%= listing.description %></td>
	 	<td class="center"><%= number_to_currency(listing.price) %></td>
	 	<td class="center">
	 		<div class="btn-group">
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			    Action <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <%= link_to "View", listing, class: "btn btn-link" %>
	 			<%= link_to "Edit", edit_listing_path(listing), class: "btn btn-link" %>
			    <li class="divider"></li>
			    <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
			  </ul>
			</div>	
	 	</td>
	 </tr>
	 <% end %>
</table>


<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link", data: {no_turbolink: true} %>
<% end %>